<h1>Rock, Paper, Scissor Results</h1>
<h2>Your Pick</h2>
<img src="http://<%= @your_pick %>">
<h2>Your Opponent's Pick</h2>
<img src="http://<%= @opponent_pick %>">
<h2>Result: <%= @result %> </h2>
<br>
<a href="/rps">Play Again</a>